*{
    margin: 0%;
    padding: 0%;
}

.cabecalho{
    background-color: #2440e2;
    display:flex;
    justify-content: space-around;
    align-items: center;
    }
    .lista-cabecalho{
        color: rgb(255, 255, 255);
        font-size: 23px;
    }

.lista-item{
display: inline-block;
padding: 25px;
}
.primeira-parte{
    background-image: linear-gradient(#2440e2,rgb(255, 255, 255)); 
    height: 500px;
    padding: 100px;
    display: flex;
    color: white;
}
.primeiro-paragrafo{
    padding: 15px;
}
.segundo-paragrafo{
    padding: 15px;
}
.foto-estudante{
width: 40%;
}
.titulo-estudantes{
    display:flex;
    justify-content: space-around;
    align-items: center;
}
.textos{
    padding: 15px;
    width: 35%;
}